@charset "UTF-8";
*{
	margin: 0; 
	padding: 0;
}
 body{
 	background:linear-gradient(#1d4350, #a43931);
 	background-repeat: no-repeat;
 	height: 100vh;
 	display:flex;
 	flex-direction:column;
 	justify-content:center;
 	align-items:center;
 }
.text{
	
	text-align:center;
}
h1{
	font-size:70px;
}
.h2-text{
	text-align:center;
}
h4{
	font-size:30px;
	margin:20px;
}
h5{
	font-size: 15px;
}
form{
	display:flex;
	justify-content:center;
	margin:90px;
}

input{
	width:250px;
	margin: 10px;
	padding:7px;
	border-radius: 50px;
	border: 1px solid white;
}
select{
	width: 100px;
	margin: 10px;
	border-radius:50px;
	border: 1px solid white;
}
button{
	width: 100px;
	margin: 10px;
	border-radius:50px;
	border: 1px solid white;
}
label{
	margin:13px;
}